<div class="container-fluid" ng-controller="ModuleController">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading" style="text-align: center;">
					<b>Add Section</b>
				</div>
				<div class="panel-body">
					<form ng-submit="addSection()">
						<div class="form-group">
							<label>Name:</label>
							<input type="text" name="name" class="form-control" ng-model="section.name" required>
							<br>
							<label>Description:</label>
							<input type="text" name="description" class="form-control" ng-model="section.description">
						</div>
						<input type="submit" value="Submit" class="btn btn-md btn-success">
					</form>
				</div>			
			</div>
			<div class="alert alert-danger" ng-show="failed == true">
              Adding section has failed: {{errorMsg}}
            </div>
		</div>
	</div>
</div>