<div class="container-fluid" ng-controller="HomeController">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading" style="text-align: center;">
					<h3>Modules</h3><a href="#/addModule" class="btn btn-success btn-sm">Add Module</a>
				</div>
				<div class="panel-body" ng-repeat="module in modules">
					<a href="#/module/{{module._id}}"><h2>{{module.name}}</h2></a>
					<h6 ng-if="module.hidden == true">Hidden module</h6>
				</div>
			</div>
		</div>
	</div>
</div>