<div class= "container-fluid" ng-controller="UsersController">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Register</div>
        <div class="panel-body">
          <form ng-submit="register()">
            <div class="form-group">
              <label>Name:</label>
              <input type="text" ng-model="user.name" name="name" class="form-control" required><br>
              <label>Username:</label>
              <input type="text" ng-model="user.username" name="username" class="form-control" required><br>
              <label>Password:</label>
              <input type="password" ng-model="user.password" name="password" class="form-control" required><br>
              <label>Role:</label><br>
              <select ng-model="user.role" ng-options="x for x in roles" required>
                <option></option>
              </select>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
          <br>
          <a href="#/login">Already have an account? Login</a>
          <div class="alert alert-danger" ng-show="failed == true">
              Registration has failed
           </div>
        </div>
      </div>
    </div>
  </div>
</div>